<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "/assets/profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Kadin Van Valin</h1>
    <p>This is my about page</p>
    <p>I have nothing to say</p>
  </div>
</div>
